@using IMS.Domain.Identity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

<ul class="navbar-nav align-items-center">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">Hello @User.Identity?.Name !</a>
        </li>
        @if(User.FindFirst("UserRole").Value == "Customer")
        {
            

            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Cart" title="User Cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="GetCustomerOrders" title="User Orders">Orders</a>
            </li>

            
        }
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Logout"> Logout </a>
        </li>
       
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
