@model IMS.Domain.DTO.Command.AddOrderShipmentDto

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Order Shipment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Order" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label class="control-label">Order Number:</label>
                <input asp-for="@Model.OrderId" class="form-control" type="text" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">Shipment Company's'</label>
                <select asp-for="ShipmentId" class="form-control"
                        asp-items="ViewBag.Shipments"
                        id="WarehouseId"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Order" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
